 body {
 background-image: url('check.jpg');
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: 100% 100%;
}

/* Media Queries: Tablet Landscape */

div.content { width: 100% }

@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}
menu {
	font-size:30px;
	font-family:"Baskerville Old Face";
	font-weight:bold;
  text-align:center;
  padding:0px 0px;
	color:black;
}
img { max-width: 100%; height: auto; }
.sidebar {
  height: 100%;
  width: 100px;
  position:absolute;
  top: 70;
  left: 0;
  padding:15px 13px;

}
hr {
    border: 2px solid black;
  }


.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color:rgba(62, 33, 109, 0.938)
  
}

	.footer {
            position:-ms-page;
            font-size:15px;
            font-weight:bold;
            left: 0;
            bottom: 100;
            width: 100%;
	font-family:"Baskerville Old Face";
		color:rgba(62, 33, 109, 0.938);
	clear:both;
	text-align:center;
}
